/* .am-comment {
  margin: 1.6rem 0px 0px;
}

.lg-left {
  float: left 0 !important;
}

.am-comment-main {
  position: relative;
  padding-left: 42px;
  border: 1px solid #dedede;
  border-color: #f37b1d;
  border-radius: 0;
}

li {
  display: list-item;
  list-style-type: none;
} */
